.blog {

    & img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 32px;
        display: block;
    }

    & h1 {
        margin-bottom: 18px;
        display: block;
        text-align: center;
    }

    & p {
        margin-bottom: 24px;
        font-size: 16px;
    }

    &__nav {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}