img {
    width: 100%;
}



.photo {
    width: 100%;
    padding: 16px;
    padding-top: 0;
    padding-bottom: 0;

    &__col {
        float: right;
        width: 33.3333%;
        overflow: hidden;
        height: auto;
        padding: 16px;
        padding-top: 0;
        padding-bottom: 0;
    }

    &__container {
        width: 100%;
        display: block;
        padding-bottom: 32px;
    }

    & img {
        display: block;
    }

    &::after {
        clear: both;
        content: ' ';
        display: block;
    }
}

@media (max-width: 760px) {
    .photo {
        width: 100%;
        padding: 4px;
        padding-top: 0;
        padding-bottom: 0;

        &__col {
            float: right;
            width: 33.3333%;
            overflow: hidden;
            height: auto;
            padding: 4px;
            padding-top: 0;
            padding-bottom: 0;
        }

        &__container {
            width: 100%;
            display: block;
            padding-bottom: 8px;
        }
    }
}