*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h2 {
    font-size: 24px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    height: 128px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

body {
    background-color: #fafafa;
    font-family: 'opensans';
}

.header {
    position: relative;

    &__title {
        display: inline-block;
        font-size: 42px;
        color: white;
        background-color: rgba(0,0,0,.2);
        letter-spacing: 6px;
        padding: 4px;
        padding-right: 72px;
        padding-left: 82px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'opensans';
    }

    &__video {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: -5;
    }
}

footer {
    bottom: 0;
    background-color: black;
    height: auto;
    color: white;

    &::after {
        display: block;
        content: ' ';
        clear: both;
    }
}

.articles {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;

    &__title-left {
        position: absolute;
        width: 64px;
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        display: none;
    }
    &__title-right {
        position: absolute;
        width: 64px;
        text-align: center;
        right: 0;
        font-size: 24px;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        display: none;
    }

    &__img-filter {
        &-dark {
            background-color: rgba(99, 69, 138, .35);
            height: 100%;
            width: 100%;
        }

        &-light {
            background-color: rgba(99, 69, 138, .1);
            height: 100%;
            width: 100%;
        }
    }

    &-recent {
        width: 100%;
        float: right;
        background-color: #1a1a1a;
        color: white;
        padding: 12px;

        &__item {
            height: 124px;
            width: 100%;
            position: relative;
        }

        &__img {
            height: 124px;
            width: 124px;
            background-color: white;
            float: left;
            background-clip: content-box;
            padding: 12px;
            background-size: cover;
            background-position: center;
        }

        &__text {
            position: absolute;
            left: 124px;
            top: 0;
            height: 100%;
            padding: 8px;
            overflow: hidden;
        }

        &::after {
            clear: both;
            content: ' ';
            display: block;
        }
    }


    &-featured {
        width: 100%;
        float: right;

        &__big-item {
            width: 100%;
            height: 301px;
            background-color: black;
            background-clip: content-box;
            color: black;
            background-size: cover;
            background-position: center;
        }

        &__small-container {
            padding-left: 0;
            width: 100%;

            &::after {
                content: ' ';
                display: block;
                clear: both;
            }
        }

        &__small-item {
            background-size: cover;
            background-position: center;
            color: black;
            width: 33.33333%;
            height: 152px;
            float: left;
            background-color: black;
            background-clip: content-box;

        }

        &__title {
            padding: 12px;
            color: black;
            font-size: 20px;
            display: inline-block;
        }
    }

    &::after {
        content: ' ';
        display: block;
        clear: both;
    }
}

.blog {
    padding: 16px;
    padding-top: 0;

    width: 100%;
    max-width: 500px;
    margin: auto;
    overflow-x: hidden;
}

.about {
    padding-left: 12px;
    padding-right: 12px;

    &__title {
        height: 64px;
        line-height: 64px;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;
    }

    &-wrap {
        width: 100%;
        padding-bottom: 32px;
        overflow: hidden;

        &::after {
            content: ' ';
            display: block;
            clear: both;
        }
    }

    &__item-left {
        float: left;
        height: 300px;
    }

    &__item-right {
        float: right;
        height: 300px;
    }

    &__img {
        height: 100%;
        width: 100%;
        background-color: black;
    }

    &__text-col {
        width: 100%;
        max-width: 400px;
        height: 100%;
        margin: auto;
        padding-top: 64px;
    }

    &__spacer {
        margin-top: 18px;
    }

    &__third {
        width: 100%;
    }

    &__two-third {
        width: 100%;
    }
}

$height: 64px;
.nav {
    height: $height;
    text-align: center;

    &__wrap {
        margin: auto;
        width: auto;
        display: inline-block;
        height: 100%;
    }

    &__item {
        display: inline-block;
        padding-left: 12px;
        padding-right: 12px;
        height: 100%;
        line-height: $height;
        font-size: 18px;
    }
}

.footer {
    &__col {
        width: 100%;
        float: left;
        padding: 64px;
        padding-top: 64px;
    }

    &__listserv {
        width: 100%;
        height: 22px;
        background-color: white;
        display: block;
    }
}

@media (min-width: 560px) {
    .articles {
        &-featured {
            &__small-item {
                height: 213px;
            }

            &__big-item {
                height: 400px;
            }
        }
    }

    .nav {
        &__item {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
    .footer {
        &__col {
            width: 50%;
        }
    }

    .about {
        padding-left: 64px;
        padding-right: 64px;
    }

    .articles {
        padding-left: 64px;
        padding-right: 52px;
    }
}

@media (min-width: 940px) {


    .about {
        &__third {
            width: 33.333%;
        }

        &__two-third {
            width: 66.666%;
        }

        &__item-left {
            padding-right: 32px;
            float: left;
            height: 300px;
        }

        &__item-right {
            padding-left: 32px;
            float: right;
            height: 300px;
        }

        &__text-col {
            width: 100%;
            max-width: 280px;
            height: 100%;
            margin: auto;
            padding-top: 0;
        }
    }


    .articles {
        &-recent {
            width: 33.3333%
        }

        &__title-left {
            display: inherit;
        }
        &__title-right {
            display: inherit;
        }

        &-featured {
            width: 66.666%;

            &__big-item {
                padding-left: 33px;
                padding-right: 12px;
                padding-bottom: 12px;
                height: 308px;
            }

            &__small-container {
                padding-left: 20px;
                width: 100%;

                &::after {
                    content: ' ';
                    display: block;
                    clear: both;
                }
            }

            &__small-item {
                padding: 12px;
                padding-bottom: 1px;
            }
        }
    }
}
