*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.blog {
    margin: auto;
    margin-top: 120px;
    width: 100%;
    max-width: 700px;

    &__item {
        padding: 32px;
    }
    &__title {
        font-size: 48px;
    }
    &__info {
        font-size: 32px;
    }
    &__img {
        width: 200px;
        height: 200px;
        background-size: cover;
    }
}

.photogrid {
    padding: 4px;
    margin-top: 120px;

    &__photo {
        padding-top: 100%;
        width: 100%;
        background-size: cover;
    }

    &__container {
        padding: 4px;
        width: 33.33%;
        float: left;
    }
}

.about {
    width: 100%;
    padding: 32px;

    &__container {
        &::after {
            clear: both;
            content: ' ';
            display: block;
        }
        font-size: 24px;
    }

    &__section {
        width: 50%;
        padding: 32px;
        float: left;
    }

    &__img {
        width: 50%;
        background-clip: content-box;
        padding: 32px;
        height: 400px;
        float: left;
        background-color: black;
    }
}

.featured {
    margin-top: 700px;
    width: 100%;
    background-color: #101010;
    padding: 32px;

    &__item {
        display: inline-block;
        width: 25%;
        padding: 32px;
        color: white;
        float: left;
    }

    &__title {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__info {
        margin-top: 8px;
        font-size: 22px;
    }

    &__img {
        padding-top: 100%;
        width: 100%;
        background-color: white;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        clear: both;
        display: block;
        content: ' ';
    }
}

p {
    font-size: 18px;
}

.toggle {
    appearance: none;
}

.nav {
    visibility: visible;

    display: flex;
    font-size: 32px;

    color: #999;
    position: fixed;

    top: 64px;
    right: 64px;

    &__item {
        margin-left: 24px;

        transition: color .15s ease-in-out;
        -moz-transition: color .15s ease-in-out;
        -webkit-transition: color .15s ease-in-out;

        &:hover {
            color: black;
        }
    }
}

.fullscreen-background {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: black;
    color: #fff;
    text-align: center;
    height: 700px;


    &__video {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__overlay {
        background-color: rgba(0,0,0,.7);
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &__container {
        position: absolute;
        top: 0;
        left: 0;

        padding: 64px;

        text-align: left;
    }

    &__title {
        font-family: "aw-conqueror-didot";
        font-size: 110px;
        font-weight: 300;
        letter-spacing: -.01em;
        line-height: 1em;

        margin-bottom: 16px;
    }

    &__snippet {
        margin-bottom: 32px;
        font-family: "futura-pt";
        font-size: 32px;
    }
}

.social-media {
    display: flex;
    justify-content: left;
    width: 100%;

    &__icon {
        height: 100px;
        width: 100px;
        margin-right: 36px;

        &--red {
            background-color: red;
        }
        &--blue {
            background-color: blue;
        }
    }
}

@media (min-width: 700px) {

    .photogrid {
        padding: 16px;

        &__container {
            padding: 16px;
        }
    }
}

@media (min-height: 700px) {

    .featured {
        margin-top: 100vh;
    }

    .fullscreen-background {
        height: 100%;
    }
}

/* scale horizontally when aspect ratio greater than 16:9 */
@media (min-aspect-ratio: 16/9) {
  .fullscreen-background__video {
    width: 100%;
    height: auto;
  }
}

/* scale vertically when aspect ration less than 16:9 */
@media (max-aspect-ratio: 16/9) {
  .fullscreen-background__video {
    width: auto;
    height: 100%;
  }
}