{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block content %}<div class="blog">

    {% if articles_list %}
        <ul>
        {% for article in articles_list %}
            <a href="{% url 'blog:article-detail' article.slug %}">
                <div class="blog__item">
                    <div class="blog__img" style="background-image: url('/media/{{ article.img }}')">
                    </div>
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.tag }}</p>
                </div>
            </a>
        {% endfor %}
        </ul>
    {% else %}
        <p>No articles are available.</p>
    {% endif %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'blog:article-list' page=page_obj.previous_page_number genre=article.0.genre %}">previous</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="{% url 'blog:article-list' page=page_obj.next_page_number genre=article.0.genre %}">next</a>
            {% endif %}
        </span>
    </div>

</div>{% endblock %}