<!DOCTYPE HTML>

{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/universal.css' %}"></link>
    <title>Thread</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <style>
        @font-face {
            font-family: 'rbmono';
            src: url({% static 'fonts/Roboto_Mono/RobotoMono-Regular.ttf' %});
        }
        @font-face {
            font-family: 'saira';
            src: url({% static 'fonts/Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf' %});
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="header__title">
            <a href="{% url 'home' %}">THREAD</a>
        </div>
        <video autoplay loop muted class="header__video">
            <source src="{% static 'videos/ThreadClip.mp4' %}" type="video/mp4">
        </video>
    </header>
    <div class="nav">
        <div class="nav__wrap">
            <div class="nav__item"><a href="{% url 'blog:article-list' 'fashion' '1' %}">fashion</a></div>
            <div class="nav__item"><a href="{% url 'blog:article-list' 'lifestyle' '1' %}">lifestyle</a></div>
            <div class="nav__item"><a href="{% url 'blog:article-list' 'art' '1' %}">art</a></div>
            <div class="nav__item"><a href="{% url 'photography' %}">photography</a></div>
        </div>
    </div>
    <main>
    {% block content %}

    {% endblock %}
    </main>
    <div class="footer-spacer"></div>
    <footer>
        <div class="footer__col">
            <p><a target="_blank" href="https://thread-mag.com">website</a></p>
        </div>
        <div class="footer__col">
            <p><a target="_blank" href="https://facebook.com/thethreadmagazine">facebook</a></p>
        </div>
        <div class="footer__col">
            <p><a target="_blank" href="https://www.instagram.com/threadmag/">instagram</a></p>
        </div>
        <div class="footer__col">
            <p><a href = "mailto: thethreadmagazine@gmail.com">contact us</a></p>
        </div>
    </footer>
</body>
</html>