{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="slideshow">
    <div class="slideshow__slide-container">
        <img class="slideshow__slide" src="{% static 'media/images/1.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/2.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/3.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/4.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/5.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/6.jpg' %}"></img>
        <img class="slideshow__slide" src="{% static 'media/images/1.jpg' %}"></img>
    </div>
</div>
<article>
    <h1>
        OUR VALUES
    </h1>
    <section>
        <h2>
            Fashion is interdisciplinary.
        </h2>
        <p>
            Thread is a fashion magazine that acts like a design organization,
            thought platform, and artistic collective. We look to explore and
            showcase the breadth of creativity at Cornell.
        </p>
    </section>
    <section>
        <h2>
            Thread doesn't have one "look"  .
        </h2>
        <p>
            Fashion encompasses many faces and we strive to do the same. We go
            beyond the boundaries of 'trendy' and 'stylish', using apparel as
            a medium of expression to mark cultural conversations.
        </p>
    </section>
    <section>
        <h2>
            Thread redefines beauty.
        </h2>
        <p>
            We see hair and makeup as physical manifestations of human feeling,
            emotion and experience. Beauty is dynamic and multi-faceted, far
            beyond the makeup brushes and curling irons.
        </p>
    </section>
    <section>
        <h2>
            Design with purpose.
        </h2>
        <p>
            We translate visual inspirations into paper medium, evoking and
            enhancing thematic elements in every decision, making this magazine
            not only a publication but a work of art.
        </p>
    </section>
</article>
<img>
    <h1>
        OUR PROCESS
    </h1>
    <img class="graphic" src="{% static 'media/graphic.png' %}"></img>
</article>


{% endblock %}