{% extends "base.html" %}

{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="articles">
        <div class="articles__title-left">r<br>e<br>c<br>e<br>n<br>t</div>
        <div class="articles__title-right">f<br>e<br>a<br>t<br>u<br>r<br>e<br>d</div>
        <div class="articles-featured">
            {% if featured.0 %}
            <a href="{% url 'blog:article-detail' featured.0.slug %}">
            <div class="articles-featured__big-item" style="background-image: url('media/{{ featured.0.img }}');">
                <div class="articles__img-filter-dark">
                <div class="articles-featured__title"><h2 {% if featured.0.darkfont == False %}style="color: white;"{% endif %}>{{ featured.0.title }}</h2></div>
                </div>
            </div></a>
            {% endif %}
            <div class="articles-featured__small-container">
                {% if featured.1 %}
                <a href="{% url 'blog:article-detail' featured.1.slug %}">
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.1.img }}');">
                    <div class="articles__img-filter">
                    <div class="articles-featured__title"><h2 {% if featured.1.darkfont == False %}style="color: white;"{% endif %}>{{ featured.1.title }}</h2></div>
                    </div>
                </div>
                </a>
                {% endif %}
                {% if featured.2 %}
                <a href="{% url 'blog:article-detail' featured.2.slug %}">
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.2.img }}');">
                    <div class="articles__img-filter">
                    <div class="articles-featured__title"><h2 {% if featured.2.darkfont == False %}style="color: white;"{% endif %}>{{ featured.2.title }}</h2></div>
                    </div>
                </div>
                </a>
                {% endif %}
                {% if featured.3 %}
                <a href="{% url 'blog:article-detail' featured.3.slug %}">
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.3.img }}');">
                    <div class="articles__img-filter">
                    <div class="articles-featured__title"><h2 {% if featured.3.darkfont == False %}style="color: white;"{% endif %}>{{ featured.3.title }}</h2></div>
                    </div>
                </div>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="articles-recent">
            {% if recent.0 %}
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
            <div class="articles-recent__item">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.0.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.0.title }}</h2>
                </div>
            </div>
            </a>
            {% endif %}
            {% if recent.1 %}
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
            <div class="articles-recent__item">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.1.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.1.title }}</h2>
                </div>
            </div>
            </a>
            {% endif %}
            {% if recent.2 %}
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
            <div class="articles-recent__item">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.2.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.2.title }}</h2>
                </div>
            </div>
            </a>
            {% endif %}
            {% if recent.3 %}
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
            <div class="articles-recent__item">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.3.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.3.title }}</h2>
                </div>
            </div>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="about">
        <div class="about__title">
            ABOUT
        </div>
        <div class="about-wrap">
            <div class="about__item-right about__two-third">
                <div class="about__img">

                </div>
            </div>
            <div class="about__item-left about__third">
                <div class="about__text-col">
                    <h1>Mission</h1>
                    <div class="about__spacer"></div>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                </div>
            </div>
        </div>
        <div class="about-wrap">
            <div class="about__item-left about__two-third">
                <div class="about__img">

                </div></div>
            <div class="about__item-right about__third">
                <div class="about__text-col">
                    <h1>Membership</h1>
                    <div class="about__spacer"></div>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                </div>
            </div>
        </div>
    </div>
{% endblock %}