<!DOCTYPE HTML>

{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/splash.css' %}"></link>
</head>
<body>
    <div class="fullscreen-background">
        <video autoplay loop muted class="fullscreen-background__video">
            <source src="{% static 'media/promo.mp4' %}" type="video/mp4">
        </video>

        <div class="fullscreen-background__container">
            <div class="fullscreen-background__title">
                THREAD
            </div>
            <div class="fullscreen-background__snippet">
                Fashion. Lifestyle. Art.
            </div>
            <a class="fullscreen-background__button" href="home">
                Enter
            </a>
        </div>

        <div class="social-media">
            <a class="white-circle" onclick="window.open('https://www.instagram.com/threadmag/')">
                <img class="media-icon" src="{% static 'media/icons/Instagram-50.png' %}">
            </a>
            <a class="white-circle" onclick="window.open('https://www.facebook.com/theThreadMagazine/')">
                <img class="media-icon" src="{% static 'media/icons/Facebook-50.png' %}">
            </a>
        </div>
    </div>
</body>
</html>