{% extends "base.html" %}

{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="articles">
        <div class="articles__title-left">r<br>e<br>c<br>e<br>n<br>t</div>
        <div class="articles__title-right">f<br>e<br>a<br>t<br>u<br>r<br>e<br>d</div>
        <div class="articles-featured">
            {% if featured.0 %}
            <div class="articles-featured__big-item" style="background-image: url('media/{{ featured.0.img }}');">
            <a href="{% url 'blog:article-detail' featured.0.slug %}">
                <div class="articles__img-filter-dark">
                <div class="articles-featured__title"><h2 {% if featured.0.darkfont == False %}style="color: white;"{% endif %}>{{ featured.0.title }}</h2></div>
                </div>
            </a>
            </div>
            {% endif %}
            <div class="articles-featured__small-container">
                {% if featured.1 %}
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.1.img }}');">
                <a href="{% url 'blog:article-detail' featured.1.slug %}">
                    <div class="articles__img-filter-dark">
                    <div class="articles-featured__title"><h2 {% if featured.1.darkfont == False %}style="color: white;"{% endif %}>{{ featured.1.title }}</h2></div>
                    </div>
                </a>
                </div>
                {% endif %}
                {% if featured.2 %}
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.2.img }}');">
                <a href="{% url 'blog:article-detail' featured.2.slug %}">
                    <div class="articles__img-filter-dark">
                    <div class="articles-featured__title"><h2 {% if featured.2.darkfont == False %}style="color: white;"{% endif %}>{{ featured.2.title }}</h2></div>
                    </div>
                </a>
                </div>
                {% endif %}
                {% if featured.3 %}
                <div class="articles-featured__small-item" style="background-image: url('media/{{ featured.3.img }}');">
                <a href="{% url 'blog:article-detail' featured.3.slug %}">
                    <div class="articles__img-filter-dark">
                    <div class="articles-featured__title"><h2 {% if featured.3.darkfont == False %}style="color: white;"{% endif %}>{{ featured.3.title }}</h2></div>
                    </div>
                </a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="articles-recent">
            {% if recent.0 %}
            <div class="articles-recent__item">
                <a href="{% url 'blog:article-detail' recent.0.slug %}">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.0.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.0.title }}</h2>
                </div>
                </a>
            </div>
            {% endif %}
            {% if recent.1 %}
            <div class="articles-recent__item">
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.1.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.1.title }}</h2>
                </div>
            </a>
            </div>
            {% endif %}
            {% if recent.2 %}
            <div class="articles-recent__item">
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.2.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.2.title }}</h2>
                </div>
            </a>
            </div>
            {% endif %}
            {% if recent.3 %}
            <div class="articles-recent__item">
            <a href="{% url 'blog:article-detail' recent.0.slug %}">
                <div class="articles-recent__img" style="background-image: url('media/{{ recent.3.img }}');">
                    <div class="articles__img-filter-light"></div>

                </div>
                <div class="articles-recent__text">
                    <h2>{{ recent.3.title }}</h2>
                </div>
            </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="about">
        <div class="about__title">
            ABOUT
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-right about__half" style="background-image: url({% static 'img/images/4.jpg' %});">

            </div>
            <div class="about__item-left about__half">
                <div class="about__text-col">
                    <h1>Who we are</h1>
                    <div class="about__spacer"></div>
                    <p>The Thread Magazine is an independent student
                    publication and the only fashion, lifestyle,
                    and art magazine at Cornell. Thread represents
                    a conglomeration of student-made fashion, art,
                    photography, styling, and design. We publish
                    an issue each semester and aim to showcase the
                    interdisciplinary talents of individuals within
                    the Cornell community through compelling visual
                    and written storytelling.</p>
                </div>
            </div>
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-left about__half" style="background-image: url({% static 'img/graphic.png' %});">

            </div>
            <div class="about__item-right about__half">
                <div class="about__text-col">
                    <h1>Our Values</h1>
                    <div class="about__spacer"></div>
                    <h3>Fashion is interdisciplinary</h3>
                    <p>Thread is a fashion magazine that acts like
                        a design organization, thought platform, and
                        artistic collective. We look to explore and
                        showcase the breadth of creativity at Cornell.</p>
                    <h3>Thread doesn't have one look</h3>
                    <p>Fashion encompasses many faces and we strive
                        to do the same. We go beyond the boundaries
                        of 'trendy' and 'stylish', using apparel as
                        a medium of expression to mark cultural c
                        onversations.</p>
                    <h3>Thread redefines beauty</h3>
                    <p>We see hair and makeup as physical manifestations
                        of human feeling, emotion and experience.
                        Beauty is dynamic and multi-faceted.
                    <h3>Design with purpose</h3>
                    <p>We translate visual inspirations into paper
                    medium, evoking and enhancing thematic elements
                    in every decision, making this magazine not only
                    a publication but a work of art.</p>
                </div>
            </div>
        </div>
        <div class="about__title">
            Teams
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-right about__half" style="background-image: url({% static 'img/images/1.jpg' %});">

            </div>
            <div class="about__item-left about__half">
                <div class="about__text-col">
                    <div class="about__spacer"></div>
                    <h3>Creative team</h3>
                    <p>Creative Team is the idea engine of the magazine.
                    We work to create a cohesive and enticing story
                    for each issue and collaborate with Styling, Beauty,
                    and Art teams to design dynamic photo shoots.</p>
                    <h3>Marketing team</h3>
                    <p>The Marketing Team is responsible for the external
                    communication of Thread, and is committed to sharing
                    compelling original content on our digital platforms
                    to engage and expand our audience. Through our work on
                    social media and merchandise, we establish Thread’s
                    branding and aim to strengthen our presence on campus
                    and beyond.</p>
                    <h3>Business team</h3>
                    <p>The Business Team manages the magazine’s finances by
                    securing advertisements from local businesses and
                    conducts alumni outreach. Additionally, the team plans
                    the Launch Party each semester and member socials.</p>
                </div>
            </div>
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-left about__half" style="background-image: url({% static 'img/images/3.jpg' %});">

            </div>
            <div class="about__item-right about__half">
                <div class="about__text-col">
                    <h3>Beauty team</h3>
                    <p>As the beauty team, we create and execute all makeup
                    and hair looks for the publication. We are looking
                    for not only makeup artists and hair stylists, but
                    generally individuals with an artistic beauty
                    perspective. Experience recommended but not necessary.</p>
                    <h3>Web content strategy team</h3>
                    <p>The Web Content Strategy Team works to connect all
                    aspects of Thread through our online platform. We
                    continue to add new content and design features that
                    correspond with our tangible magazine. We strive to
                    promote Thread as a whole online as well while also
                    providing individuals with a new lens into our publication.</p>
                    <h3>Art team</h3>
                    <p>We are post-production: we select, edit, and lay out
                    photos for the final magazine. Must have experience
                    in Photoshop and/or InDesign</p>
                </div>
            </div>
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-right about__half" style="background-image: url({% static 'img/images/3.jpg' %});">

            </div>
            <div class="about__item-left about__half">
                <div class="about__text-col">
                    <h3>Editorial team</h3>
                    <p>We are charged with curating the editorial content
                    of all print and online media. We are looking for
                    writers interested in creating engaging content.</p>
                    <h3>Styling team</h3>
                    <p>Styling Team brings the magazine to life by
                    conceptualizing and executing each photoshoot. We work
                    closely with creative teams to collaborate on a visual,
                    thinking about how we can embody the concept through the
                    look. We source apparel, shoes, and accessories, prepare
                    models, and engage in all things Production.</p>
                    <h3>Photography team</h3>
                    <p>We photograph, and in so doing, tie the publication
                    together. We search for dedicated visual storytellers,
                    looking to document both the product and the process.
                    Photographers will work hands on at photoshoots, behind
                    the scenes, with street style campaigns, and with online
                    content. Camera gear required, experience recommended.</p>
                </div>
            </div>
        </div>
        <div class="about__title">
            Leadership
        </div>
        <div class="about-wrap">
            <div class="about__img about__img-left about__half" style="background-image: url({% static 'img/images/6.jpg' %});">

            </div>
            <div class="about__item-right about__half">
                <div class="about__text-col">
                    <div class="about__spacer"></div>
                    <p>Kristina Linares, President</p>
                    <p>Alessandra Piccone, Marketing Director</p>
                    <p>Brenna Louie, Vice President</p>
                    <p>Mauricio Quispe, Business Director</p>
                    <p>Nadine Fuller, Creative Director</p>
                    <p>Tina He, Art Director</p>
                    <p>Avidan Grossman, Editor-in-Chief</p>
                    <p>Gabrielle Leung, Associate Editor-in-Chief</p>
                    <p>Hebani Duggal, Beauty Director</p>
                    <p>Ravenna Stafford, Styling Director</p>
                    <p>Anna Kambhampaty, Technical Director</p>
                    <p>Omar Abdul-Rahim, Photography Director</p>
                    <p>Karson Daecher, Web Content Strategy Director</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}